body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #ebc3ff;
}

input, button{
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

button{
    cursor: pointer;
}

#botaoReiniciar{
    background-color: #4caf50;
    color: white;
    border: none;
}

#botaoReniciar:hover{
    background-color: #45a049;
}